body,
.movie-background {
	color: #F4F4F4;
	background-color: #1A1A1A;
}

.photo-links {
	color: #1A1A1A;
}

#contentContainer,
.photo-frame {
	background-color: #2C2C2C;
	border-color: #1F1F1F;
}

#footer {
	background-color: #1F1F1F;
}

#sidebarContainer,
#navcontainer a,
#pageHeader h1,
.exif-data,
.photo-title {
	color: #CDCDCD;
}

#navcontainer {
	border-top-color: #1F1F1F;
}

#navcontainer a,
.filesharing-item {
	border-bottom-color: #1F1F1F;
}

a:link,
a:visited,
#pageHeader h2,
#navcontainer #current,
#navcontainer .currentAncestor,
#navcontainer a:hover,
.blog-entry-title,
.album-title,
.photo-caption,
.movie-title,
h1,
h2,
h3,
h4,
h5 {
	color: #F3A424;
}

a:hover, a:active {
}

#topbar {
	background-color: #F3A424;
}

.photo-navigation {
	background-color: #F3A424;
}

.thumbnail-frame img,
.movie-thumbnail-frame img {
	background: #363636;
	border-color: #262626;
}


